
<div class="container">
        <br>
        <br>
        <div class="row">
          <div class="col-lg">
                <img src="/assets/comptable.jpg" width="500" height="400" class="d-inline-block align-top" alt="">
          </div>
          <div class="col-lg text-center">
                <br>
                <h4> Interface Paie</h4> 
                <h4> Comptabilite</h4> 
                <hr />

                <h1> <span class="badge badge-success">IPC</span></h1>
          </div>
    
        </div>
      </div>